<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #60a4ce;
        }
        .login-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgb(14, 14, 14);
            width: 250px;
            text-align: center;
            height: 370px;
        }
        h2 {
            margin-bottom: 20px;
        }
        .input-group {
            margin-bottom: 15px;
            text-align: left;
        }
        .input-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .input-group input {
            width: 90%;
            padding: 10px 0;
            border: none;
            border-bottom: 2px solid #ccc;
            outline: none;
            transition: border-color 0.3s;
        }
        .input-group input:focus {
            border-bottom: 2px solid #6039d5;
        }
        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 28px;
            background-color: #ed304d;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-top: 10px;
        }
        button:hover {
            background-color: #1b51c7;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Sign-Up</h2>
        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <form action="/signup" method="post">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password1" name="password" required minlength="8">
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="password2" name="confirm_password" required minlength="8">
            </div>
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/login">Log in</a></p>
        </form>
    </div>
</body>
</html>
